

li {
    display: block;
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-family:'Inconsolata', monospace;
    font-size: 30px;
    line-height: 50px;
    padding-right: 10px;
}

li :hover{
    font-size: 35px;
    color: #F26963;
    cursor: pointer;
}
li a{
    text-decoration: none;
    color: #36454f;
}
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  body {
    background-image: url(../img/marble.jpg);
    background-color: #cccccc; 
   }

main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 10px;
}

main p{
    width: 95%;
    color: whitesmoke;
    font-family:'Inconsolata', monospace;
   line-height: 30px;
   text-indent: 10px;
   padding: 10px;
   
}

.text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #36454f;
    width: 90%;
    
}

.bio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #36454f;
    width: 90%;
    
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 90%;
}

footer p{
    color: whitesmoke;
    font-family:'Inconsolata', monospace;
  text-align: center;
}

footer{

    background-color: #36454f;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 10px;
}

div img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10px;
    
}

div video{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 400px;
    
}

p a{
    text-decoration: none;
    color: #F26963;
}

.social{
    display: grid;
    grid-template-columns: 50% 50%;
    
}


@media screen and (min-width: 981px){

    ul{
        overflow: hidden;
    }

    li {
        float: right;
        width: 45%;
        font-size: 40px;
    }

    li a{
        display: block;
        text-align: center;
        padding-top: 60px;
        padding-right: 20px;
        text-decoration: none;
    
    }

    li :hover{
        font-size: 45px;
    }

    header img{
       float: left;
        width: 45%;
        margin: 20px;;
    }

    main{
        display: grid;
        grid-template-columns: 50% 50%;
        clear: both;
    }

    main p{
        font-size: 25px;
        line-height: 50px;
    }

    iframe{
        width: 60%;
        height: 400px;
    }

    .gallery{
        display: grid;
        grid-template-columns: 50% 50%;
        clear: both;

    }

    .social img{
        width: 60%;
        
    }

    footer p{
        font-size: 20px;
    }
  

  
}